<div class="profile">
    <section id="wrapper">
        <header id="header">
            <a href="{{ "about" | absURL }}">
                {{- if .Site.Params.gravatar }}
                {{- $hash := trim .Site.Params.gravatar " " | lower | md5 }}
                <img id="avatar" class="2x" src="https://www.gravatar.com/avatar/{{ $hash }}?s=80"/>
                {{- else }}
                <img id="avatar" class="2x" src="{{ "images/avatar.png" | absURL }}"/>
                {{- end }}
            </a>
            <h1>{{ .Site.Params.name }}</h1>
            <h2>{{ .Site.Params.bio | markdownify }}</h2>
        </header>
    </section>
</div>