/* Base theme overrides */

#archive {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

#section {
  max-width: 800px;
  margin: 48px auto 0 auto;
  padding: 0 12px;
}

#page-404 {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

#list-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}

a, nav.navigation a {
  color: #2bbc8a;
}

a:hover, nav.navigation a:hover {
  color: #2bbc8a;
  text-decoration: underline;
}

#social a:hover {
  text-decoration: none;
}

body {
  background-color: #1d1f21;
  color: #c9cacc;
}

nav.navigation {
  background: transparent;
}

.profile h1 {
  color: #c9cacc;
  font-size: 30px;
}

.toc {
  background: #242628;
}

#single .tags a {
  background: #242628;
  color: #c9cacc;
}

#single .tags a:hover {
  background: #242628;
  color: #2bbc8a !important;
}


/* Header avatar image fade */

.profile img.avatar {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 1s;
}

.profile:hover img.avatar {
  -webkit-filter: none;
  filter: none;
  transition: 1s;
}

/* Post listings */
ul.post-list {
  max-width: 800px;
  margin: 48px auto 0 auto;
  padding: 0 12px;
}

ul.post-list li {
	list-style-type: none;
	height: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

ul.post-list li a {
	padding-left: 1rem;
}

/* Other things */

::selection {
	color: #fff;
	background-color: #2bbc8a;
}
