{{/*
    TODO: refactor this to use templates 
*/}}

{{ define "main" }}
<article class="post">
    <header>
        <h1>
            <a href="{{ .Params.gist_url }}">{{ .Title }}</a>
        </h1>
        <h2 class="subtitle">{{ .Description | markdownify }}</h2>
        <h2 class="subtitle">
            <a href="{{ .Params.gist_url }}">view gist on github</a>
        </h2>
        <h2 class="headline">
        {{ .Date.Format "January 2, 2006" }}
        <br>
        {{ with .Params.tags }}
        {{ if ge (len .) 1 }}
            {{ range . }}
                <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
            {{ end }}
        {{ end }}
        {{ end}}
        </h2>
    </header>
    <section id="post-body">
        {{ .Content }}
    </section>
</article>

<footer id="post-meta" class="clearfix">
    {{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}">{{ end }}
    {{- if .Site.Params.gravatar }}
    {{- $hash := trim .Site.Params.gravatar " " | lower | md5 }}
      <img class="avatar 2x" src="https://www.gravatar.com/avatar/{{ $hash }}?s=36"/>
    {{- else }}
      <img class="avatar 2x" src="{{ "images/avatar.png" | absURL }}">
    {{- end }}
    <div>
        <span class="dark">{{ .Site.Params.name }}</span>
        <span>{{ .Site.Params.aboutAuthor }}</span>
    </div>
    {{ with .Site.Params.twitter }}</a>{{ end }}
    <section id="sharing">
        {{ partial "share.html" . }}
    </section>
</footer>

{{ template "_internal/disqus.html" . }}

{{ partial "latest-posts.html" . }}
{{ end }}
